{% extends "base.html" %}
{% block title %}Gitlab{% endblock title %}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Gitlab</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <h2>Usuários</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Usuário</th>
                            <th>Status</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.state}}</td>
                            <td>{{user.is_admin}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <h2>Projetos</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Nome do projeto</th>
                            <th>Link SSH</th>
                            <th>Dono</th>
                            <th>Caminho</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{project.name}}</td>
                            <td>{{project.ssh_url_to_repo}}</td>
                            <td>{{project.owner.username}}</td>
                            <td>{{project.path}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}